.reducir-texto{    
    font-size: 1.5em!important;    
}
.ajuste-tabla{
    white-space: nowrap!important;
    overflow-x: auto!important;
    font-size: 0.8em!important;
}
.logo .logo-ingreso{    
    max-height: 70px;
}
.logo img{
    max-height: 40px;        
    margin: 0px 15px 0 5px;    
}
.card-body-cutom{
    padding: 10px 10px 10px 100px;
}
@media (max-width: 767px) {
    .ajuste-tabla{
        white-space: wrap!important;
        overflow-x: auto!important;
        font-size: 0.9em!important;
    }
    .logo img{
        max-height: 40px;        
        margin: 0;
    }
}