*{
    font-family: "Poppins", sans-serif;
}

form,h5{
    font-family: "Poppins", sans-serif;
}
ol a, ol li, ul li>ul li span{
    font-family: "Nunito", sans-serif;
}

.reducir-texto{    
    font-size: 1.5em!important;
}
.ajuste-tabla{
    white-space: nowrap!important;
    overflow-x: auto!important;
    font-size: 13px!important;    
}
.logo .logo-ingreso{    
    max-height: 70px;
}
.logo img{
    max-height: 40px;        
    margin: 0px 15px 0 5px;    
}
.logo span{
    text-wrap: balance;
    font-size: 100%;
}
.card-body-cutom{
    padding: 10px 10px 10px 100px;
}
@media (max-width: 767px) {
    .main{
        padding: 10px!important;
    }
    .ajuste-tabla{
        white-space: wrap!important;
        overflow-x: auto!important;
        font-size: 12px!important;
    }
    .logo img{
        max-height: 40px;        
        margin: 0;
    }
}